# Trabajo grupal de Python

## Pregunta 1

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

### Pregunta 1.A

In [3]:
print(f'El primer elemento de la seguda tupla es {tuple1[1][0]}')

El primer elemento de la seguda tupla es 10

### Pregunta 1.B

In [4]:
print(f'the last item of the tuple1 object is {tuple1[2][-1]}')

the last item of the tuple1 object is 25

### Pregunta 1.C

Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?

Tuples are immutable, when the tuple is created, its values cannot be changed.

In [5]:
try:
  tuple1[0] = "pink grapefruit"
  print(tuple1)
except Exception as e:
  print('Tuples are immutable')

Tuples are immutable

### Pregunta 1.D
Print the length of tuple1. Hint: Length function

In [6]:
print(f'the length of tuple1 is {len(tuple1)}')

the length of tuple1 is 3

### Pregunta 1.E
Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [7]:
# create function to sum 
def suma(l):
  return sum(l)

# Apply function to each sublist of tuple2 using the `map()`
r = map(suma, tuple2)

# Convert the `map` object to a list and calculate the overall sum
sumaTotal = sum(r)

print(sumaTotal)

42

### Pregunta 1.F
Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [8]:
# function to halve the elements of a list
def mitad(lista):
  return [e / 2 for e in lista]

# Apply the `mitad` function to each sublist of tuple2 using the `map()` function
mitad_valores = map(mitad, tuple2)

# Convert the `map` object to a list and create a new tuple named `tuple3`
tuple3 = tuple(mitad_valores)

print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## Pregunta 3

In [1]:
str1 = 'I am                            too                                                        old'

In [3]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Pregunta 3.A

In [8]:
#we use the split method with the default space separator and save the strings as a list
str1_split = str1.split()
#we use the join method using a space as a seaprator and save it as a new string  
new_str1 = " ".join(str1_split)

print(new_str1)

I am too old

### Pregunta 3.B

In [33]:
#code that counts the lenght of each chararter in str_1, if the character is alphabetic
num_letters = len([char for char in new_str1 if char.isalpha()])

print(f'The number of letters in new_str1 is {num_letters}')

The number of letters in new_str1 is 9

### Pregunta 3.C

In [37]:
num_char = len([char for char in new_str1])

print(f'The number of blanck spaces in str1 is {num_char - num_letters}')

The number of blanck spaces in str1 is 3

### Pregunta 3.D

In [40]:
#we define the function find_arroba to give us the position of the @ in each email
def find_arroba(email):
  return email.find('@')

# we use the map function to aply find_arroba in each element of the emails list
positions = list(map(find_arroba,emails))

print(positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

### Pregunta 3.E

In [41]:
#we define a function to give us a true if email is in the string and false if is not
def punto_edu(email):
    if ".edu." in email:
       return True
    else:
       return False

emails_edu = list(map(punto_edu,emails))
print(emails_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

### Pregunta 3.F

In [42]:
def substring_dot(email):
    dot_index = email.find('.')
    if dot_index != -1:
      return email[:dot_index]
    else:
       return email

emails_before_dot = list(map(substring_dot, emails))
print(emails_before_dot)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

In [48]:
# we create a function with a boolean return: if @ is in email it returns 1 if not 0
def has_at(email):
  return '@' in email
# we use map function to sum the list of 1 and 0 and obtain the total number of emails with @ 
number_emails_at = sum(map(has_at,emails_before_dot))
print(f'Te number of emails with an @ after removing the strings after the first dot are {number_emails_at}')

Te number of emails with an @ after removing the strings after the first dot are 14

## Pregunta 3

In [1]:
str1 = 'I am                            too                                                        old'

In [3]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Pregunta 3.A

In [8]:
#we use the split method with the default space separator and save the strings as a list
str1_split = str1.split()
#we use the join method using a space as a seaprator and save it as a new string  
new_str1 = " ".join(str1_split)

print(new_str1)

I am too old

### Pregunta 3.B

In [33]:
#code that counts the lenght of each chararter in str_1, if the character is alphabetic
num_letters = len([char for char in new_str1 if char.isalpha()])

print(f'The number of letters in new_str1 is {num_letters}')

The number of letters in new_str1 is 9

### Pregunta 3.C

In [37]:
num_char = len([char for char in new_str1])

print(f'The number of blanck spaces in str1 is {num_char - num_letters}')

The number of blanck spaces in str1 is 3

### Pregunta 3.D

In [40]:
#we define the function find_arroba to give us the position of the @ in each email
def find_arroba(email):
  return email.find('@')

# we use the map function to aply find_arroba in each element of the emails list
positions = list(map(find_arroba,emails))

print(positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

### Pregunta 3.E

In [41]:
#we define a function to give us a true if email is in the string and false if is not
def punto_edu(email):
    if ".edu." in email:
       return True
    else:
       return False

emails_edu = list(map(punto_edu,emails))
print(emails_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

### Pregunta 3.F

In [42]:
def substring_dot(email):
    dot_index = email.find('.')
    if dot_index != -1:
      return email[:dot_index]
    else:
       return email

emails_before_dot = list(map(substring_dot, emails))
print(emails_before_dot)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

In [48]:
# we create a function with a boolean return: if @ is in email it returns 1 if not 0
def has_at(email):
  return '@' in email
# we use map function to sum the list of 1 and 0 and obtain the total number of emails with @ 
number_emails_at = sum(map(has_at,emails_before_dot))
print(f'Te number of emails with an @ after removing the strings after the first dot are {number_emails_at}')

Te number of emails with an @ after removing the strings after the first dot are 14

## Pregunta 2

In [1]:
import numpy as np
import pandas as pd
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
p2_list = [ 2 , 3, 4, 5 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

### Pregunta 2.1
Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [2]:
indices = ''
for i, v in enumerate(f_list):
    if pd.isnull(v):
        #indices.append(i)
        indices=indices+str(i)+', '

print(f"The indices {indices[:-2]} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

### Pregunta 2.2
Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [3]:
print(f"{p2_list * 4}")

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

### Pregunta 2.3
Print the length of f_list. Hint: Length function

In [4]:
print(f"the length of f_list is {len(f_list)}")

the length of f_list is 8

### Pregunta 2.4
Print My teacher assistant is so boring. using text1 list. Hint: Use the join function. text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [5]:
print( f"the length of f_list is {' '.join(text1)}")

the length of f_list is My teacher assistant is so boring.

### Pregunta 2.5
Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.

In [6]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

text1.extend(['but', 'is', 'very', 'funny.'])

print(' '.join(text1).replace(".", ",",1))

My teacher assistant is so boring, but is very funny.

### Pregunta 2.6 Print
The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.
Hint: Use the f-string, min, and max functions.

In [8]:
# Find the maximum value and minimum value

max_index = values1.index(max(values1))

min_index = values1.index(min(values1))

# Print the results using f-strings
print(f"The max value of values1 is {max(values1)} and is located in the {max_index} index.")
print(f"The min value of values1 is {min(values1)} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

### Pregunta2.7
Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [12]:
def separador(a):
#a="CORNEJO SANCHEZ, CHRISTIAN SANTOS"
    a,n=a.split(',')
    return (a.strip(),n.strip())
t = tuple(map(separador, last_and_name))
names=[]
last_names=[]
for e in t:
    names.append(e[1])
    last_names.append(e[0]) 
print(f'los nombre {names}')
print(f'los apellidos {last_names}')

los nombre ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
los apellidos ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

### Pregunta 2.8
Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [13]:
estudiantes_sinmail=[]

#for e in tuple(zip(last_names, emails)):
estudiantes_sinmail = [a[0] for a in tuple(zip(last_names, emails)) if a[1] == '' ] 
estudiantes_sinmail

['HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ']