# 1 Assignment
It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple
1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [2]:
#1.1.1.
print(tuple1[1][0]) 

#se selecciona el elemento que se quiere mostrar

10

In [3]:
#1.1.2.
print(tuple1[2]) 

#Se selecciona el último item

(5, 15, 25)

In [4]:
tuple1.index((5, 15, 25))

2

In [5]:
#1.1.3. Rpta: Los tuples no pueden ser modificados. 
tuple1[0] = "Pink Grapefruit""
tuple1

SyntaxError: unterminated string literal (detected at line 2) (557721765.py, line 2)

In [6]:
#La otra salida sería volver a crear el tuple con el nombre cambiado:
tuplemodif = ("Pink Grapefruit", [10, 20, 30], (5, 15, 25))
print(tuplemodif[0])

Pink Grapefruit

In [7]:
#1.1.4.
len(tuple1)

3

In [8]:
#1.1.5.
sum(list(map(sum,list(tuple2))))

42

In [9]:
#1.1.6.
tuple3 = tuple(map(lambda x: [y//2 for y in x], tuple2))
print(tuple3)

([3, 4], [4, 0], [5, 3])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [10]:
import numpy as np

In [11]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [12]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [13]:
p2_list = [ 2 , 3, 4, 5 ]

In [14]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [15]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [16]:
#1.2.1.
flist2= np.where(np.array(f_list) == str (np.nan))
flist2 = flist2[ 0 ]
print(f"The indices {flist2} have np.nan values")
#The indices 0, 1, 4, 7 have np.nan values

The indices [0 1 4 7] have np.nan values

In [17]:
#1.2.2.

p3_list= p2_list*4
p3_list

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [18]:
#1.2.3.
len(f_list)

8

In [19]:
#1.2.4. forma 1 sin join
print(text1[0] + " "+ text1[1] + " " + text1[2]+ " " +text1[3]+ " " +text1[4]+ " "+text1[5] )

# forma2 con join

My teacher assistant is so boring.

In [20]:
#1.2.5.
print(text1[0] + " "+ "TA" + " " +text1[3]+ " " +text1[4]+ " "+text1[5]+", but it's very funny." )

My TA is so boring., but it's very funny.

In [21]:
#1.2.6. Se numeran los valores mayores y menores, con la función max y min para los valores de values1. luego se imprime los statements solicitados.
max_index, max_value = max(enumerate(values1), key=lambda x: x[1])

min_index, min_value = min(enumerate(values1), key=lambda x: x[1])

print(f"The max value of values1 is {max_value} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_value} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [22]:
#1.2.7.
split_names = map(lambda x: x.split(","), last_and_name)

last_names, names = zip(*split_names)

print(last_names)
print(names)

('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')
(' CHRISTIAN SANTOS', ' CRISTIAN NASSER', ' ANGELICA KARINA', ' JOSE ROBERTO', ' ABEL FERNANDO', ' MEIR ALVARO', ' JOSELIN ALEXANDRA', ' LEONEL ARTURO', ' JOSE FELIPE', ' AFRANIA', ' BIANCA MARIETTE', ' ADRIAN ANDRE', ' DORKAS YOMIRA JHERMY', ' LADY ALY', ' HECTOR ANDRE', ' GUSTAVO', ' PERSEO MARCELO', ' MIGUEL ALONZO', ' NICOLAS', ' ROCIO GABRIELA', ' JANE CAMILA', ' MARIA ELISA', ' ALEJANDRO', ' KARLINE ROSMELI', ' STEPHY ROSARIO', ' VALERIA CECILIA', ' SEBASTIAN RENATO', ' JUAN CARLOS', ' MARIANA', ' ANDREA BRIZETH', ' ERICK JOSUE', ' JOSUE DANIEL', ' FABIO MANUEL', ' FERNANDA NICOLLE', ' ANGELA ADELINA', ' CESAR DANTE', ' GABRIELA ISABEL', ' ANGEL MAURICIO', ' JUAN DIEGO', ' ARONE', ' PERCY ALBERTH', ' KEVIN ARTURO', ' CESAR ERNESTO', ' CÉSAR AGUSTO', ' DIANA EDITH', ' RODRIGO FRANCO', ' GRETTEL ALEXANDRA', ' ROSA ANGELA', ' DANTE OMAR', ' YAJAIRA ALEXANDRA', ' JORGE ALBERTO', ' ALEXIS')

In [23]:
No_email = [names.split(', ')[0] for names, emails in zip(last_names, emails) if not emails]
#Filtramos a los estudiantes que no tienen correo por medio de la función split
No_email

['HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ']

## 1.3 Strings
1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [24]:
#1.3.1
#Definimos str1
str1= "Tengo         mucho       sueño"
str1

'Tengo         mucho       sueño'

In [25]:
#Para poder eliminar los espacios se puede dividir el str1 por medio de la función split
str2=str1.split()
str2

['Tengo', 'mucho', 'sueño']

In [26]:
str4= "".join(str2)
str4

'Tengomuchosueño'

In [27]:
#Para volver a unir las palabras sin el espacio se usa la función join (se añade un espacio)
str3 = " ".join (str2)
str3

'Tengo mucho sueño'

In [28]:
#Contamos el total de caracteres pero restamos el espaciado
len(str3) - str3.count(" ")

15

In [29]:
#Contamos el total de espacios en la primera y última 
str3.count(" ")

2

In [30]:
str1.count(" ")

16

In [31]:
#1.3.4
#Por medio de la función map definimos y creamos una lista con el resultado
def arroba_correo(x): 
    return x.find('@')

In [32]:
posicion_arroba = list(map(arroba_correo, emails))
posicion_arroba

[9,
 11,
 14,
 9,
 12,
 8,
 14,
 9,
 8,
 16,
 12,
 13,
 6,
 9,
 10,
 12,
 8,
 11,
 14,
 6,
 11,
 7,
 15,
 9,
 12,
 8,
 9,
 11,
 13,
 6,
 9,
 12,
 11,
 16,
 11,
 -1,
 -1,
 -1,
 -1,
 -1,
 8,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 13]

In [33]:
#Con la función map, definimos y luego hacemos la busqueda con la función find
def buscar_edu(x):
    return x.find('.edu.') != -1

correo_edu = list(map(buscar_edu, emails)) 
print(correo_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True]

In [34]:
#Para definir que correos tienen el arroba antes del punto se deben definir dos funciones. 
#En la primera se define la busqueda del punto 

def correo_punto(x):
    return x[:x.find('.')]

#En la segunda se define la posición del arroba por la que se junta la función map junto con la función count
def arroba_correo2(x):
    return x.count('@')


Cantidad_total = sum(map(arroba_correo2, list(map(correo_punto, emails))))
Cantidad_total

15

Desde la pregunta 1.1 hasta la pregunta 1.2.7 las realizó Andrés 
Desde la pregunta 1.2.8 hasta la pregunta 1.3.6 las realizó Antuané