# Assignment NÂ°2 - Group 2

## 1.1 Tuple

**1. Print the first item of the second item of `tuple1` object.**

As a first step I create a second object called `tuple_1_2` by copying the second element of `tuple1`, then I extract the first element of the new created object which gives us the first element of tuple 1.

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple_1_2 = tuple1[1]
tuple_1_2[0]

10

**2. Print the last item of the tuple1 object.**

We follow the logic of the previous code, starting with tuple 1 we create a new object called `tuple_1_3` that collects the third element of the aforementioned tuple. Next, a call is made to said object, which will show us the requested item.

In [3]:
tuple_1_3=tuple1[2]
tuple_1_3

(5, 15, 25)

**3. Change the value "orange" for "pink grapefruit". Comment the output.**

Tuples are a Python container that cannot be modified, consequently, the output tells me that the `tuple1` object does not accept assignment (in this case modification) to the item of interest.

In [4]:
tuple1[0]="pink gratefuit"

TypeError: 'tuple' object does not support item assignment

**4. Print the length of `tuple1`.**

In [ ]:
len(tuple1)

**5. Sum all the elements of tuple2 and describe your steps and explain each of them.**

In the statement of this question it is indicated that you can use the `map()` function whose arguments are: the function to use and the object of interest. However, it does not allow me to view the result because aforementioned function only performs iterations but not result actions, so it is necessary to ask it to perform the action through another function.

In [5]:
tuple2 = ([7, 8], [9, 1], [10, 7])
map(sum,tuple2)

In this sense, `list()` is used to reveal the actions performed; It is observed that each of the elements within the tuple has been added. However, we are asked to add all the elements of the tuple, so we proceed to perform this operation with `list()`. It is important to note that the `list()` function converts the tuple into a list which can be modified.

In [6]:
print(list(map(sum,tuple2)))
print(sum(list(map(sum,tuple2))))

[15, 10, 17]
42

6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.

In this code I use the two square brackets to extract the element of the inner tuple from the upper tuple, finally I add the objects created from the aforementioned in a tuple.

In [7]:
a=tuple2[0][0]
print(a)
b=tuple2[0][1]
print(b)
c=tuple2[1][0]
print(c)
tuple2_new=([a],[b],[c])
tuple2_new

7
8
9

([7], [8], [9])

## 1.2 Lists

1. Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values. Hint: Use print function and f-strings to insert the indices values.

In the statement it is requested to display the indexes of the list f_list. According to the indication, the np.nan are at positions 0, 1, 4, 7. The list is created accordingly. To identify the indices of the list, we use [index for index, value in enumerate(f_list) if value is np.nan], which means that for each element in f_list that is np.nan, it includes the corresponding index in the list nan_indices. So, nan_indices will be a list containing the indices of elements in f_list that are exactly equal to np.nan. 

Then, to display the sentence in the output, we use "map(str, nan_indices)" to convert each element of the nan_indices list into a string. And we use the "join" function to take each element converted to a string from nan_indices and join them into a single string, separated by ', '. From this conversion, the print function is added to display the statement "The indices {indices_string} have np.nan values."

In [8]:
import numpy as np

f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

nan_indices = [index for index, value in enumerate(f_list) if value is np.nan]

if nan_indices:
    indices_string = ', '.join(map(str, nan_indices))
    print(f'The indices {indices_string} have np.nan values.')
else:
    print('No np.nan values found in the list.')

The indices 0, 1, 4, 7 have np.nan values.

2. Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

The list is created with the values to be replicated: 2, 3, 4, 5. The list p2_list is then multiplied 4 times.

In [9]:
p2_list = [2, 3, 4, 5]
p2_new_list = p2_list * 4

print(p2_new_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3. Print the length of f_list. Hint: Length function

Using the list created in question 1, the len function is used to find out the length of the list. Finally, the print function is used to display the result.

In [10]:
print(len(f_list))

8

4. Print My teacher assistant is so boring. using text1 list. Hint: Use the join function

A partir de la lista 'texto1', usamos la funciÃ³n join. Se ha considerado previamente el espacio entre elementos " ".

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
text1_result = ' '.join(text1)
print(text1_result)

My teacher assistant is so boring.

5. Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.

To generate this new output, we first have to replace the word "boring." with "boring", because instead of a full stop, there should be a comma.

In [12]:
text1[-1] = 'boring,'

Then, using the function "append" we add the new information "but is very funny". Finally, using the join function, we join both texts.

In [13]:
text1.append( "but is very funny." )
text2_result = ' '.join(text1)
print(text2_result)

My teacher assistant is so boring, but is very funny.

6. Print 
The max value of values1 is 86 and is located in the 0 index.  
The min value of values1 is 0 and is located in the 7 index.  
Hint: Use the f-string, min, and max functions.

In [7]:
import numpy as np
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÃN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÃA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÃA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÃEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÃEZ ABANTO, ANGEL MAURICIO", "MELÃNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÃA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÃÃEZ HUAMÃN, CÃSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [15]:
string_max = max(values1)
print("The max value of values1 is",string_max, "and is located in the 0 index")
string_min = min(values1)
print("The min value of values1 is",string_min, "and is located in the 7 index")

The max value of values1 is 86 and is located in the 0 index
The min value of values1 is 0 and is located in the 7 index

Explanation: We create the string of the maximum value of values1. Then I attached that string to the print. And added the remainig text using "" separated by commas. And repeat the same process for the minimum value.

** 7. Get two lists: names and last_names using last_and_name list. Hint: Use map and split. **

In [16]:
names = [i.split(", ")[1] for i in last_and_name]
print(names)
last_names = [i.split(", ")[0] for i in last_and_name]
print(last_names)

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÃSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÃN', 'LUZON CUEVA', 'SUAÃA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÃA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÃEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÃEZ ABANTO', 'MELÃNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÃA', 'ALDAVE ACOSTA', 'NÃÃEZ HUAMÃN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

Explanation:
For names:
We use the split method that iterates through each element (i) "i.split" in the last_and_name list.
For each element (i) in the last_and_name list, the split method is applied.
(", ") breaks the string i into multiple parts using ", " as the separator.
After splitting, [1] selects the second part of the  list.

For last_names:
We use the same method but, use [0] to select the first part of the list, selecting the last names.

8. Give only the last names of students who do not have email. Use the emails and last_names listt. Hint: Use map and split.

In [17]:
last_names_no_email = [last_names[index] for index, email in enumerate(emails) if email.split('@')[0] == '']

Explanation: enumerate(emails) iterates through the emails list, providing both the index (index) and the corresponding value (email) at that index. The condition if email.split('@')[0] == '' checks if the username is an empty string ''. Like that indicating an email is absent or empty for that index. When the condition is TRUE, the list comprehension selects the corresponding element from the last_names list at the index provided (last_names[index])

## 1.3 Strings

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [2]:
str1 = 'I am                            too                                                        old'

In [3]:
str_split = str1.split()
str_split
separator = ' '
result = separator.join(str_split) 
result

'I am too old'

Explanation: str1.split(), with this function we are going to split str1 by its spaces, beacause it is the default setting. Then we create separator as ' ', as an object of one space. Then with "separator.join" we join the (str1) (*that is rigth now with no spaces*) with the separator of a blank space (separator). Like that we create the string with only just one space of separation between the words.

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [4]:
str_split = str1.split()
str_split
separator = ''
result = separator.join(str_split) 
result
len(result)

9

Explanation: To only count the lenght of the letters we use a similar method as the preview question, but now our separator is just no space (''). Like that, when we join the split string with our separator, our final string (result) is just the words toghether. So our final string (result) is the words together and with the function len we count it's letters.

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len` function**

In [5]:
str_split = str1.split()
str_split
separator = ' '
result = separator.join(str_split)
result.count(" ")

3

Explanation: We use `count()` function to count the blank spaces in the string, specifying that we want the character " ".

4. Get the position of @ in each string in the emails list. **Hint: Use `map` function and find method.**

In [8]:
position = list(map(lambda x: x.find("@"), emails))
print(position)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11, -1, -1, -1, -1, -1, 8, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 13]

Explanation: First, we create anonymous function that search for the sign `@` in list emails. After that, we insert map function to iterate this to the length of list `emails`. Finally, we transform this in a list.

5. Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method.

In [9]:
edu_position = list(map(lambda x: x.find(".edu"), emails))
edu = list(map(lambda x: x != -1, edu_position))
print(edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True]

Explanation: we proceed from the same logic of the item upside. we use map to iterate in order to see which of the elements in the list `edu_position` are different from `-1`, which is the number that indicate no `.edu`. Finally, we have a list of Booleans.

6. Get all the strings before the first dot `.` in each string in the emails list. Identifies how many of them has `@`. **Hint: Use ``map``function and find method.**

In [10]:
names_emails = list(map(lambda x:  x.split('.')[0], emails))
names_emails
position_2 = list(map(lambda x: x.find("@"), names_emails))
print(position_2)

[9, -1, -1, 9, -1, 8, -1, 9, 8, -1, -1, -1, -1, 9, -1, -1, 8, -1, -1, 6, -1, -1, -1, 9, -1, 8, 9, -1, -1, 6, 9, -1, -1, -1, 11, -1, -1, -1, -1, -1, 8, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1]

Explanation: In this final request, we iterate the ``split`` function to the list ``emails`` and select the first part of them, based on the first dot that separate them. As we have the first list, we repeat the process of mapping with ``find()`` function and to the list ``names_emails``.