# 1 Assignment

## 1.1 Tuples

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple 1 object

In [2]:
item2 = tuple1[1] #create item2 is the second item of tuple1

In [3]:
first_item = item2[0] #first item is the first item of item2

In [4]:
print("the first item of the second item is: ",first_item)

the first item of the second item is:  10

2. Print the last item of the tuple1

In [5]:
last_item = tuple1 [-1] #last item is the first item starting backwards from tuple1

In [6]:
print("the last item is: ", last_item)

the last item is:  (5, 15, 25)

3. Change the value "orange" for "pink grapefruit"

In [7]:
tuple1[0]= "pink grapefruit" #attempt to change the first item of the tuple1

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(tuple1)

In [ ]:
###This is a error because tuples are inmutable,this means it cannot be changed

4. Print the length of tuple1

In [9]:
length = len(tuple1) #create new object that is the length of the tuple1

In [10]:
print("the lengh of tuple1 is:", length)

the lengh of tuple1 is: 3

5. Sum all the elements of tuple2 and describe the steps

In [11]:
sum_tuple2= sum(list(map(sum,tuple2))) #new object named sum_tuple

In [12]:
print("the answer is:", sum_tuple2)

the answer is: 42

In [13]:
#the fist line creates a new object named sum_tuple2 then i used 'map' to sum each item in tuple2, 
#so we get 3 partial sums this gives us a map object than later is changed to a list with the function 'list'
#this allows to sum the partial sums with the function 'sum' finally i print the answer

6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [2]:
# Obtain half values of tuple2
tuple3 = tuple(map(lambda lista: list(map(lambda x: x / 2, lista)), tuple2)) 

# First we obtain half of each element of the lists 
# Then generate tuple3 with the new lists.

# Print the results
print(tuple2)
print(tuple3)

([7, 8], [9, 1], [10, 7])
([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2. Lists

In [4]:
import numpy as np

In [5]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [10]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [7]:
p2_list = [ 2 , 3, 4, 5 ]

In [7]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [12]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

In [6]:
# Use list comprehension to find indices of np.nan values
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

# Check if there are any np.nan values and print the result
if nan_indices:
    print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")
else:
    print("No np.nan values found in the list.")

The indices 0, 1, 4, 6, 7 have np.nan values.

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>

In [8]:
# Replicate list 4 times
list_replication = p2_list * 4 

#Print results
print(list_replication)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

3. Print the length of `f_list`. **Hint: Length function**<br><br>

In [9]:
# Print the length of the f_list
print(f"The length of f_list is: {len(f_list)}")

The length of f_list is: 8

4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>

In [13]:
# join text1 using join function, to join with spaces
new_text =' '.join(text1) 

#Print results
print(new_text)

My teacher assistant is so boring.

5. Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method.

In [90]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.'] 
text2 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring,'] #creamos la lista "texto2" en la que se quita el punto, para colocarle una coma con el fin de crear la oración completa
text9 = ['but', 'is', 'very', 'funny'] #se crea la lista "text9", la cual contiene lasegunda parte de la oración

text2.extend(text9) #se utiliza la función extend para agregar las palabras faltantes a a text2

' '.join(text2) #se utiliza la función join para crear una oración continua, separada por " " (espacios)

n5 = ' '.join(text2) #se crea "n5", contiene la oración completa
print(n5)

My teacher assistant is so boring, but is very funny

6. Print

    * The max value of values1 is 86 and is located in the 0 index.
    * The min value of values1 is 0 and is located in the 7 index.
        * Hint: Use the f-string, min, and max functions.

In [52]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ] 

text_a = max(values1) #con el comando max hallamos el máximo valor en la lista "values1"
text_b = values1.index(max(values1)) #con el comando index hallamos la posición 
text_c = min(values1) #con el comando min hallamos el mínimo valor de la values1
text_d = values1.index(min(values1)) #encontramos la posición del mínimo valor

print(f"The max value of values is {text_a} and is located in the {text_b} index.") #mostramos la oración completa utilizando f-string 
print(f"The max value of values is {text_c} and is located in the {text_d} index.")

The max value of values is 86 and is located in the 0 index.
The max value of values is 0 and is located in the 7 index.

7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [86]:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]


nombres_apellidos = map(lambda nala: nala.split(", "), last_and_name) #se utiliza lambda y split para separar a cada nombre y apellido por ", "
na_la = list(nombres_apellidos) #se convierte a lista con los nombres y apellidos, dentro cada elemento tiene una sublista con el nombre y apellido por separado

names = map(lambda name: name[1], na_la) #se utiliza map nuevamente para seleccionar el segundo elemento de cada lista, el cual es el nombre
names = list(names) #se convierte a lista todos los nombres

last_names = map(lambda last_name: last_name[0], na_la) #se utiliza map para seleccionar el primer elemento de la lista, aquì están los apellidos
last_names = list(last_names) #los apellidos están dentro de una nueva lista

print(names) #se muestran los nombres en la lista
print(last_names) #apellidos en otra lista

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

## 1.3. Strings

In [1]:
str1 = 'I am                            too                                                        old'

In [2]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.

In [94]:
str1new = str1.split() #se utiliza split para eliminar los espacios en blanco porque representan delimitadores para el comando
str1new 

str1new2 = " ".join(str1new) #se utiliza join para unir las palabras, pero con un espacio " "
print(str1new2)

I am too old

2. Get the number of letters in the string. **Hint: Use `len` function.**

In [3]:
##Getting the number of letters in the string
resultado = str1.split()##split function divides the string into a list of substrings using the whitespace as a delimiter.
len(''.join(resultado)) ##Join function concatenates elements of the list with the delimiter (a space in this case). Then, len function is used to get the number of characters in the string resultado, which is 9 (without spaces and punctuation)

9

3. Get the number of blank spaces (all of them) in the string. **Hint: Use `len` function.**

In [4]:
##Getting the number of blank spaces (all of them) in the string
totalstr1 = len(str1) ##getting the number of the all of the characters in the string str1(including spaces)
resultado = str1.split() ##we use split to remove the blank spaces on str1
totalLetras = len(''.join(resultado)) ## Then, we get only the number of letters in resultado
totalstr1 - totalLetras ##Finally, subtract the number of letters from the all of the characters in str1

85

4. Get the position of `@` in each string in the emails list. **Hint: Use  `map` function and `find` method.**

In [5]:
##3.4 Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.
def buscarArroba (cadena):
  return cadena.find('@')##Find the position of @

result = map(buscarArroba, emails) ##This code will define a function that finds the position, then using map() to apply that function to each item in the emails list
print(list(result))

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

5. Identifies if exists `.edu.` in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map` function and `find` method.**

In [6]:
#3.5 Check if there are any .edu. and returns if the result exists with true or false using map() applying that function to each item in the emails list
def buscarEdu(cadena):
  if cadena.find('.edu.') != -1 :
    return True
  else:
    return False

result = map(buscarEdu, emails)
print(list(result))

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

6. Get all the strings before the first dot `.` in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map` function and `find` method.**

In [7]:
##3.6 Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.
def buscarPunto(cadena):
    return cadena.find('.')##Find the position of the first dot in the string and return the position of the point or -1 if not found

def buscarArrobaAntesDelPunto(cadena):
    end = buscarPunto(cadena)
    nueva_cadena = cadena[0:end]
    if buscarArroba(nueva_cadena) != -1:##Searches for the position of the first @ in the string and returns the position of the at or -1 if not found.
        return True
    else:
        return False

def buscarArroba(cadena):
    return cadena.find('@')

result = map(buscarArrobaAntesDelPunto, emails) ##Using map to apply the function buscarArrobaAntesDelPunto to each element of the list emails and the result is an iterator containing True or False values depending on whether there is an arrow before the dot.

# Count the number of True in the result
conteo_true = sum(result) ## We use sum to count the number of True values in the result iterator.

print("The number of strings that have @ before the first dot is", conteo_true)

The number of strings that have @ before the first dot is 14