# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple - Claudia 



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [22]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

### 1.1.1: first item of the second item of tuple1

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][0])

10

### 1.1.2: last item of the tuple1

In [6]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[-1])

(5, 15, 25)

### 1.1.3. Modify the value of first item
Tuples are inmutable and its items can not be modified, therefore  the only way I can get the desired change can be by creating another new tuple, like so:

In [3]:
new_tuple = ("Pink Grapefruit", tuple1[1], tuple1[2])
new_tuple

('Pink Grapefruit', [10, 20, 30], (5, 15, 25))

### 1.1.4: length of tuple1

In [5]:
lenght_tuple1= len(tuple1)
print(lenght_tuple1)

3

### 1.1.5: Sum all the elements of tuple2 and describe your steps and explain each of them

In [8]:
tuple2 = ([7, 8], [9, 1], [10, 7])

# 1. I create a function to sum the elements of a list
def sum_tuple(lst):
    return sum(lst)

# 2. I use the MAP function to apply the sum_list function to each of the elements that are inside of the tuple2 
tuple2 = ([7, 8], [9, 1], [10, 7])
result = map(sum_tuple, tuple2)

# 3. I print the results of the sum 
SumOfTuple2= list(result)
print(SumOfTuple2)

[15, 10, 17]

### 1.1.6: Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funcion.

In [10]:
tuple2 = ([7, 8], [9, 1], [10, 7])

# 1. I create a function to divide by half the elements of a list
def halve_list(lst):
    return [x / 2 for x in lst]

# 2. I  use the MAP function to apply the halve_list function to each of the elements that are inside of the tuple2. The results will be saved in a new tuple called "tuple3"
tuple3 = tuple(map(halve_list, tuple2))

# Print the result
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [2]:
import numpy as np

### 1.2.1. Show the indices of the np.nan values in the f_list

In [80]:
# First step: Import numpy and pandas libraries
import numpy as np
import pandas as pd

# Second step: Create f_list object
f_list = [np.nan, np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

# Third step: Identify np.nan values indices
# We need to identify if the value is NaN.
# Since we have text in the list, np.isnan isn't allowed - we use pd.isnull to identify if the value is NaN
pd.isnull(f_list)

# Identify the indices of the np.nan values in the f_list
nan_indices = np.where(pd.isnull(f_list))

# Extract only the indices to get a clean result
nan_index = list(nan_indices[0])

# Print the indices
print(f"In the f_list, the np.nan values have these indices: {nan_index}")

In the f_list, the np.nan values have these indices: [0, 1, 4, 7]

### 1.2.2 Replicate 4 times the values of the list p2_list

In [81]:
# First step: Create the p2_list object
p2_list = [2, 3, 4, 5]

# Second step: Use the multiplication function in our list object
p2_list_4 = p2_list * 4

# Third step: Report the result
f"We replicate 4 times the values of the list {p2_list} using multiplication function: {p2_list_4}"

'We replicate 4 times the values of the list [2, 3, 4, 5] using multiplication function: [2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]'

### 1.2.3. Print the length of the f_list

In [83]:
## Print the lenght of the f_list with the function len (unique step)"
f"The object flist has a length of {len(f_list)}"

'The object flist has a length of 8'

### 1.2.4. Print `My teacher assistant is so boring.`

In [89]:
# First step: Create the list text1
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring']

# Second step: Use the function join and add the sep " " for the sentence
text1_j = " ".join(text1)

# Third step: Print the sentence
f"Print the sentence: {text1_j}"

'Print the sentence: My teacher assistant is so boring'

### 1.2.5. Print `My TA is so boring, but is very funny.`

In [90]:
# First step: Create the list text1
text2 = [',','but','is', 'very', 'funny']
# Second step: Extend the base list with the new list
text1.extend(text2)
# Third step: Use the function join and add the sep " " for the sentence
text1_j = " ".join(text1)
# Fourth step: Print the sentence
f"Print the sentence: {text1_j}"

'Print the sentence: My teacher assistant is so boring , but is very funny'

### 1.2.6. Get Minimum/maximum value

In [92]:
# First step: Create values1 list
values1 = [15, 32, 45, 7, 86, 12, 3, 0, 54]

# Second step: Find the maximum/minimum value and its index
## Maximum
max_val = max(values1)
max_ind = values1.index(max_val)

## Minimum
min_val = min(values1)
min_ind = values1.index(min_val)

# Third step: Print the results
f"The max value of values1 is {max_val} and is located in the {max_ind} index."
f"The min value of values1 is {min_val} and is located in the {min_ind} index."

'The min value of values1 is 0 and is located in the 7 index.'

In [32]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

52

### 1.2.7.  Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [ ]:
# First step: Create the list of last names and names
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]

# Second step: Use map and split to separate last names and names
## Use as delimitator ", " to split
result = list(map(lambda x: x.split(', '), last_and_name))

# Third step: Unpack the result into last_names and names objects
last_names, names = zip(*result)

# Fourth step: Convert the results to lists
## Last names list
last_names = list(last_names)
## Names list
names = list(names)

# Last step: Print the results
f"Last Names result: {last_names}"
f"Last Names result: {names}"

### 1.2.8.  Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [ ]:
# First step: Use map and split to get last names
last_names_without_email = list(map(lambda x: x.split(', ')[0], filter(lambda x: not x[1], zip(last_and_name, emails))))

# Second step: Print the last names of students without email
print("Last Names of Students without Email:", last_names_without_email)

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

### 1.3.1. Drop the duplicated blank spaces

In [2]:

str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

str1
print(emails)

['cscornejo@pucp.edu.pe', 'orellana.cn@pucp.edu.pe', 'karina.morales@pucp.edu.pe', 'a20083223@pucp.pe', 'abel.camacho@pucp.pe', 'mtintaya@pucp.edu.pe', 'joselin.chavez@pucp.edu.pe', 'a20105737@pucp.pe', 'jfgomezc@pucp.pe', 'afrania.palomino@pucp.pe', 'luzon.bianca@pucp.pe', 'adrian.suanaz@pucp.pe', 'soto.y@pucp.edu.pe', 'a20132766@pucp.pe', 'andre.lama@pucp.edu.pe', 'gustavo.meza@pucp.edu.pe', 'pmlozada@pucp.edu.pe', 'm.zambranoj@pucp.edu.pe', 'nicolas.jacobs@pucp.edu.pe', 'gvidal@pucp.edu.pe', 'jane.torres@pucp.edu.pe', 'm.lopez@pucp.edu.pe', 'alejandro.boyco@pucp.edu.pe', 'a20167070@pucp.edu.pe', 'riega.stephy@pucp.edu.pe', 'vlevanot@pucp.edu.pe', 'sesquives@pucp.edu.pe', 'perez.juanc@pucp.edu.pe', 'mariana.otero@pucp.edu.pe', 'aclavo@pucp.edu.pe', 'a20182474@pucp.edu.pe', 'josue.caldas@pucp.edu.pe', 'fabio.salas@pucp.edu.pe', 'fernanda.pizarro@pucp.edu.pe', 'aquillatupa@pucp.pe']

In [3]:

str_divided = str1.split()
print(str_divided)
# I use the split method to divide the given string and save the returned list in a new variable
# By default, this method divides strings based on white spaces (otherwise I would have put a delimiter in parenthesis)
str_joined = " ".join(str_divided)
print("Resulting string:", str_joined)
# I joined the characters in the list with join. I put " " before join to specify that I want to use white spaces as a glue

['I', 'am', 'too', 'old']
Resulting string: I am too old

In [4]:
print("The number of characters in total is", len(str1))
print("The number of blank spaces in total is", len(str1) - len(str_joined_nowhites))
#  We can obtain the number of blank spaces by substracting the already known the number of letters
# from the total number of characters in the string.

The number of characters in total is 94

NameError: name 'str_joined_nowhites' is not defined

In [5]:
str_joined_nowhites = "".join(str_divided)
print(str_joined_nowhites)
# I joined the aforementioned string, this time without white spaces (otherwise a white space would count as a character)

print("The number of letters is", len(str_joined_nowhites))
# The len function returns the number of letters

Iamtooold
The number of letters is 9

In [6]:
print(list(map(lambda char:char.find("@"), emails)))
# First of all, my lambda function specifies that I want to find the location of the @ in a given string
# This function is applied to every element of the list "emails" thanks to the map function, which iterates through a list 
# The printed result is a list of characters with the position of the @ in every email.

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [7]:
print(list(map(lambda char:char.find(".edu."), emails)))
# I tried the same function but with the find(".edu.") instead to see how the language would treat not finding what is specified
# I noticed that the emails that didn't have .edu. had a -1 as position

position_list = list(map(lambda char:char.find(".edu."), emails))
# I save the position list

print(list(map(lambda position:position != -1, position_list)))
# So I basically made a new line of code to automatically get a False if the position is -1 (as in saying there is no .edu.)

[14, 16, 19, -1, -1, 13, 19, -1, -1, -1, -1, -1, 11, -1, 15, 17, 13, 16, 19, 11, 16, 12, 20, 14, 17, 13, 14, 16, 18, 11, 14, 17, 16, 21, -1]
[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [8]:
splitted_emails = list(map(lambda str:str.split("."), emails))
# This first one is to split the email whenever there is a dot. The result is a list of splitted emails, way too messy to print

print(list(map(lambda lst:lst[0], splitted_emails)))
splitted_emails = list(map(lambda lst:lst[0], splitted_emails))
# This second line is to just retrieve the characters that come before the first dot, and ditch the rest of the email.

print(list(map(lambda char:char.find("@"), splitted_emails)))
splitted_emails_position = list(map(lambda char:char.find("@"), splitted_emails))
# I use the same method as the question before, where I retrieve the position of the @. If there is no @, I get a -1.

print(list(map(lambda position:position != -1, splitted_emails_position)))
final_list = list(map(lambda position:position != -1, splitted_emails_position))
# Now to convert those -1 to False, and the rest to True, to specify 

print(final_list.count(True), " emails have @ before the first dot")
# Now to counting. I'm sure there is an easier, faster, and more readable method than mine...

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
[9, -1, -1, 9, -1, 8, -1, 9, 8, -1, -1, -1, -1, 9, -1, -1, 8, -1, -1, 6, -1, -1, -1, 9, -1, 8, 9, -1, -1, 6, 9, -1, -1, -1, 11]
[True, False, False, True, False, True, False, True, True, False, False, False, False, True, False, False, True, False, False, True, False, False, False, True, False, True, True, False, False, True, True, False, False, False, True]
14  emails have @ before the first dot