# Group_1
- MAX LENIN CHIPANI LIMA (9 & 10)
- ANDRES ALEXANDER VILLACORTA BARRERA (3&4)
- ESTEFANNY MIRIAN GIL MAMANI (7&8)
- VANESSA ALESSANDRA AZAÃ‘EDO GAMARRAamarena (1&2)
- JOSE MARIA MIGUEL LOYOLA ROMERO (5&6)

# 1 Assignment 3

In [10]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in d:\anaconda\envs\diplomado\lib\site-packages (1.2.7)
Requirement already satisfied: pandas>=1.2.0 in d:\anaconda\envs\diplomado\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in d:\anaconda\envs\diplomado\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\max lenin\appdata\roaming\python\python311\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\envs\diplomado\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\envs\diplomado\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\max lenin\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [11]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [12]:
# Exercise 1

## Define the file paths. 
file_path_1 = "../../_data/endes/2019/REC0111.sav"
file_path_2 = "../../_data/endes/2019/RE223132.sav"
file_path_3 = "../../_data/endes/2019/RE516171.sav"

## Load the .sav files. Use pyreadstat.read_sav instead of pandas.read_spss as it allows to access the metadata; for instance, the variable and value labels.
rec_1, meta1 = pyreadstat.read_sav(file_path_1)
rec_2, meta2 = pyreadstat.read_sav(file_path_2)
rec_3, meta3 = pyreadstat.read_sav(file_path_3)

## Extract variable and value labels. 
var_labels1 = meta1.column_labels
value_labels1 = meta1.variable_value_labels

var_labels2 = meta2.column_labels
value_labels2 = meta2.variable_value_labels

var_labels3 = meta3.column_labels
value_labels3 = meta3.variable_value_labels

2. Select the following columns for each data set. Check if all the columns are in the dataset. Make a code that check the columns that are not included. Please, reporte them.

|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [13]:
import pyreadstat

# Define the file paths
file_path_1 = "../../_data/endes/2019/REC0111.sav"
file_path_2 = "../../_data/endes/2019/RE223132.sav"
file_path_3 = "../../_data/endes/2019/RE516171.sav"

# Load the .sav files along with their metadata
rec_1, meta1 = pyreadstat.read_sav(file_path_1)
rec_2, meta2 = pyreadstat.read_sav(file_path_2)
rec_3, meta3 = pyreadstat.read_sav(file_path_3)

# Define the columns to select for each dataset
columns_1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 
             'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 
             'V124', 'V125', 'V127', 'V133']

columns_2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 
             'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 
             'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']

columns_3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 
             'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

# Function to check and report missing columns, and filter the DataFrame using loc
def check_and_filter_columns(dataset, metadata, column_list, dataset_name):
    missing_columns = [col for col in column_list if col not in dataset.columns]
    
    if missing_columns:
        print(f"The following columns are missing from {dataset_name}: {missing_columns}")
    else:
        print(f"All columns are present in {dataset_name}.")
    
    # Filter the DataFrame using .loc to include only the selected columns
    selected_columns = [col for col in column_list if col in dataset.columns]
    filtered_data = dataset.loc[:, selected_columns]

    # Check if column_labels and variable_value_labels are dictionaries
    if isinstance(metadata.column_labels, dict):
        filtered_var_labels = {k: metadata.column_labels[k] for k in selected_columns}
    else:
        filtered_var_labels = {k: metadata.column_labels[metadata.column_names.index(k)] for k in selected_columns}

    if isinstance(metadata.variable_value_labels, dict):
        filtered_value_labels = {k: metadata.variable_value_labels[k] for k in selected_columns if k in metadata.variable_value_labels}
    else:
        filtered_value_labels = {k: metadata.variable_value_labels[metadata.column_names.index(k)] for k in selected_columns if k in metadata.variable_value_labels}
    
    return filtered_data, filtered_var_labels, filtered_value_labels

# Apply the function to each dataset
rec1_1, new_var_labels1, new_value_labels1 = check_and_filter_columns(rec_1, meta1, columns_1, 'rec_1')
rec2_1, new_var_labels2, new_value_labels2 = check_and_filter_columns(rec_2, meta2, columns_2, 'rec_2')
rec3_1, new_var_labels3, new_value_labels3 = check_and_filter_columns(rec_3, meta3, columns_3, 'rec_3')

All columns are present in rec_1.
All columns are present in rec_2.
All columns are present in rec_3.

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [14]:
# We create the new column
rec1_1.loc[:,"year"]="2019"
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [15]:
# We udpate the new variable
new_var_labels1.update({'year':"Year of the survey"})

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [57]:
merged_df = pd.merge(rec1_1, rec2_1, on='CASEID', how='outer')
endes_2019 = pd.merge(merged_df, rec3_1, on='CASEID', how='outer')

In [58]:
print(endes_2019.head())

               CASEID V000  V001  V002  V003  V004    V007    V008  V009  \
0        000100201  2  PE6   1.0   2.0   2.0   1.0  2019.0  1434.0   4.0
1        000100201  3  PE6   1.0   2.0   3.0   1.0  2019.0  1434.0   1.0
2        000102801  2  PE6   1.0  28.0   2.0   1.0  2019.0  1434.0   6.0
3        000102801  6  PE6   1.0  28.0   6.0   1.0  2019.0  1434.0   3.0
4        000104801  2  PE6   1.0  48.0   2.0   1.0  2019.0  1434.0   5.0

     V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  V714  V715
0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0   1.0  11.0
1  2007.0  ...     NaN     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0   1.0  14.0
3  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0   0.0   6.0
4  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0   0.0   6.0

[5 rows x 64 columns]

In [38]:
# We merge requested dataframes in one
endes_2019=rec1_1.merge(rec2_1,on='CASEID',how='outer')\
                .merge(rec3_1,on='CASEID',how='outer')
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [61]:

# We unify the variables 
var_labels = new_var_labels1.copy()
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

# We unify the values
value_labels = new_value_labels1.copy()
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

# We generate new attributes for endes_2019
endes_2019.attrs['var_labels'] = var_labels
endes_2019.attrs['value_labels'] = value_labels

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [67]:
import os
import pyreadstat

# Define the base path to the data files and the years to process
base_path = "../../_data/endes/"
years = [2019, 2018, 2017, 2016, 2015]
file_names = ["REC0111.sav", "RE223132.sav", "RE516171.sav"]

# Initialize the dictionary to store all data
all_data = {}

# Loop through each year
for year in years:
    try:
        # Initialize a dictionary for the current year
        year_data = {}
        
        # Initialize lists to store the DataFrames and combined labels
        data_frames = []
        var_labels = {}
        value_labels = {}

        # Loop through each file
        for file_name in file_names:
            # Construct the full path to the file
            file_path = os.path.join(base_path, str(year), file_name)
            
            # Read the .sav file and capture the data along with the labels
            data, meta = pyreadstat.read_sav(file_path)
            
            # Update the variable and value labels
            var_labels.update(meta.column_names_to_labels)
            value_labels.update(meta.variable_value_labels)
            
            # Filter the common columns you want to keep (adjust according to your needs)
            if file_name == "REC0111.sav":
                selected_columns = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
            elif file_name == "RE223132.sav":
                selected_columns = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
            elif file_name == "RE516171.sav":
                selected_columns = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
            
            # Filter the selected columns
            filtered_data = data[selected_columns]
            
            # Add the filtered DataFrame to the list
            data_frames.append(filtered_data)
        
        # Add the year column to the first DataFrame
        data_frames[0]['year'] = year
        
        # Merge the DataFrames using 'CASEID'
        combined_data = data_frames[0]
        for df in data_frames[1:]:
            combined_data = combined_data.merge(df, on='CASEID', how='inner')
        
        # Store the data and labels in the dictionary for the current year
        year_data['data'] = combined_data
        year_data['var_labels'] = var_labels
        year_data['value_labels'] = value_labels
        
        # Add the current year's data to the main dictionary
        all_data[f'year_{year}'] = year_data
    
    except Exception as e:
        print(f"Error processing files for year {year}: {e}")

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [71]:
# Estefanny Gil
# Initialize a list to store all dataFrames
dataframes_list = []

# Loop through the all_data dictionary to extract DataFrames
for year_key, year_data in all_data.items():
    # Append the DataFrame for the current year to the list
    dataframes_list.append(year_data['data'])

# Concatenate all DataFrames into a single DataFrame
endes_data_2015_2019 = pd.concat(dataframes_list, axis=0, ignore_index=True)

# Reset the index to have a clean DataFrame
endes_data_2015_2019.reset_index(drop=True, inplace=True)

In [72]:
endes_data_2015_2019

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,1434.0,4.0,1986.0,1036.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,PE6,1.0,28.0,2.0,1.0,1434.0,6.0,1983.0,1002.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,PE6,1.0,28.0,6.0,1.0,1434.0,3.0,1970.0,843.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,PE6,1.0,48.0,2.0,1.0,1434.0,5.0,1991.0,1097.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,PE6,1.0,136.0,2.0,1.0,1434.0,11.0,1988.0,1067.0,...,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170371,317503501 2,PE6,3175.0,35.0,2.0,3175.0,1389.0,1.0,1989.0,1069.0,...,2008.0,1303.0,1.0,19.0,7.0,2.0,15.0,1.0,1.0,11.0
170372,317503701 2,PE6,3175.0,37.0,2.0,3175.0,1389.0,12.0,1970.0,852.0,...,1991.0,1098.0,1.0,20.0,24.0,5.0,14.0,3.0,1.0,0.0
170373,317507601 1,PE6,3175.0,76.0,1.0,3175.0,1389.0,10.0,1972.0,874.0,...,1993.0,1118.0,1.0,20.0,22.0,5.0,12.0,3.0,1.0,3.0
170374,317507801 2,PE6,3175.0,78.0,2.0,3175.0,1389.0,4.0,2000.0,1204.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2.0,0.0,NaN
170375,317508001 2,PE6,3175.0,80.0,2.0,3175.0,1389.0,7.0,1984.0,1015.0,...,2004.0,1250.0,1.0,19.0,11.0,3.0,18.0,2.0,0.0,11.0

In [32]:
endes_data_2015_2019['ID1'].unique()

array([2019.,   nan])

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [76]:
# Estefanny Gil
all_var_labels = {}
all_value_labels = {}

# Loop through the all_data dictionary to extract var_labels and value_labels
for year_key, year_data in all_data.items():
    # Extract year from the key (e.g., 'year_2019' -> 2019)
    year = int(year_key.split('_')[1])
    
    # Store var_labels and value_labels in dictionaries
    all_var_labels[year] = year_data['var_labels']
    all_value_labels[year] = year_data['value_labels']

# Combine all var_labels and value_labels
combined_var_labels = {}
combined_value_labels = {}

# Populate combined labels (assuming all labels should be included for the full dataset)
for year, var_labels in all_var_labels.items():
    combined_var_labels.update(var_labels)
for year, value_labels in all_value_labels.items():
    combined_value_labels.update(value_labels)

# Create a dictionary to store the labels with column names
var_labels_dict = {col: combined_var_labels.get(col, 'No label') for col in endes_data_2015_2019.columns}
value_labels_dict = {col: combined_value_labels.get(col, 'No value label') for col in endes_data_2015_2019.columns}

# Add the labels to the DataFrame as attributes (not as columns)
endes_data_2015_2019.attrs['var_labels'] = var_labels_dict
endes_data_2015_2019.attrs['value_labels'] = value_labels_dict

In [77]:
print(endes_data_2015_2019)

                    CASEID V000    V001   V002  V003    V004    V008  V009  \
0             000100201  2  PE6     1.0    2.0   2.0     1.0  1434.0   4.0
1             000102801  2  PE6     1.0   28.0   2.0     1.0  1434.0   6.0
2             000102801  6  PE6     1.0   28.0   6.0     1.0  1434.0   3.0
3             000104801  2  PE6     1.0   48.0   2.0     1.0  1434.0   5.0
4             000113601  2  PE6     1.0  136.0   2.0     1.0  1434.0  11.0
...                    ...  ...     ...    ...   ...     ...     ...   ...
170371        317503501  2  PE6  3175.0   35.0   2.0  3175.0  1389.0   1.0
170372        317503701  2  PE6  3175.0   37.0   2.0  3175.0  1389.0  12.0
170373        317507601  1  PE6  3175.0   76.0   1.0  3175.0  1389.0  10.0
170374        317507801  2  PE6  3175.0   78.0   2.0  3175.0  1389.0   4.0
170375        317508001  2  PE6  3175.0   80.0   2.0  3175.0  1389.0   7.0

          V010    V011  ...    V508    V509  V510  V511  V512  V513  V525  \
0       1986.0  1036.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0
1       1983.0  1002.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0
2       1970.0   843.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0
3       1991.0  1097.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0
4       1988.0  1067.0  ...  2005.0  1272.0   1.0  17.0  13.0   3.0  15.0
...        ...     ...  ...     ...     ...   ...   ...   ...   ...   ...
170371  1989.0  1069.0  ...  2008.0  1303.0   1.0  19.0   7.0   2.0  15.0
170372  1970.0   852.0  ...  1991.0  1098.0   1.0  20.0  24.0   5.0  14.0
170373  1972.0   874.0  ...  1993.0  1118.0   1.0  20.0  22.0   5.0  12.0
170374  2000.0  1204.0  ...     NaN     NaN   NaN   NaN   NaN   0.0   0.0
170375  1984.0  1015.0  ...  2004.0  1250.0   1.0  19.0  11.0   3.0  18.0

        V613  V714  V715
0        2.0   1.0  11.0
1        3.0   1.0  14.0
2        0.0   0.0   6.0
3        2.0   0.0   6.0
4        2.0   1.0  16.0
...      ...   ...   ...
170371   1.0   1.0  11.0
170372   3.0   1.0   0.0
170373   3.0   1.0   3.0
170374   2.0   0.0   NaN
170375   2.0   0.0  11.0

[170376 rows x 63 columns]

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [84]:
# Group the data by year and department, and calculate the mean for specified columns
mean_key_vars = endes_data_2015_2019.groupby(['year', 'V024']).agg(
    mean_total_children=pd.NamedAgg(column='V201', aggfunc='mean'),
    mean_ideal_children=pd.NamedAgg(column='V613', aggfunc='mean'),
    mean_hb_yr_educ=pd.NamedAgg(column='V715', aggfunc='mean'),
    mean_first_marriage=pd.NamedAgg(column='V511', aggfunc='mean')
).reset_index()

# Display the rows of the result
mean_key_vars

,year,V024,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,2015,1.0,2.445515,3.041512,8.602355,19.014493
1,2015,2.0,2.028594,2.608964,11.469806,20.587935
2,2015,3.0,2.415771,2.389785,9.792669,19.641466
3,2015,4.0,1.711661,2.190895,10.816594,22.038043
4,2015,5.0,2.493585,2.550979,9.655594,20.037555
...,...,...,...,...,...,...
120,2019,21.0,1.977733,2.119433,11.174870,20.398964
121,2019,22.0,2.100392,2.493333,9.705545,18.953155
122,2019,23.0,1.544563,2.013083,12.815937,22.065095
123,2019,24.0,1.938121,2.469824,11.856468,19.409821
124,2019,25.0,2.290015,2.388399,10.788566,18.985481

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**

In [80]:
#We merge the dataframes.
final_result = endes_data_2015_2019.merge(mean_key_vars, on=['year', 'V024'], how='right') 

final_result.head()

,CASEID,V000,V001,V002,V003,V004,V008,V009,V010,V011,...,V512,V513,V525,V613,V714,V715,mean_total_children,mean_ideal_children,mean_hb_yr_educ,mean_first_marriage
0,000102701 1,PE6,1.0,27.0,1.0,1.0,1386.0,7.0,1985.0,1027.0,...,13.0,3.0,15.0,4.0,1.0,3.0,2.445515,3.041512,8.602355,19.014493
1,000104301 1,PE6,1.0,43.0,1.0,1.0,1386.0,4.0,1974.0,892.0,...,8.0,2.0,26.0,2.0,0.0,9.0,2.445515,3.041512,8.602355,19.014493
2,000104801 2,PE6,1.0,48.0,2.0,1.0,1386.0,1.0,1980.0,961.0,...,17.0,4.0,18.0,1.0,1.0,11.0,2.445515,3.041512,8.602355,19.014493
3,000104801 3,PE6,1.0,48.0,3.0,1.0,1386.0,11.0,1999.0,1199.0,...,NaN,0.0,0.0,0.0,1.0,NaN,2.445515,3.041512,8.602355,19.014493
4,000105001 3,PE6,1.0,50.0,3.0,1.0,1386.0,8.0,1993.0,1124.0,...,NaN,0.0,21.0,2.0,0.0,NaN,2.445515,3.041512,8.602355,19.014493