# 1 Assignment

## 1.1 Tuple

In [4]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [5]:
tuple1

('Orange', [10, 20, 30], (5, 15, 25))

In [6]:
tuple2 = ([7, 8], [9, 1], [10, 7])

In [7]:
tuple2

([7, 8], [9, 1], [10, 7])

In [13]:
# TUPLE 1 
# EXERCISE 1
tuple1[1] # Print second element JZC_part

[10, 20, 30]

In [10]:
first_value = tuple1[1]
first_value[0] # Print first element JZC_part

10

In [11]:
tuple1[1].index(10) # Print position in the second position of tuple1 JZC_part

0

In [19]:
# EXERCISE 2
tuple1

('Orange', [10, 20, 30], (5, 15, 25))

In [24]:
tuple1[2][2] # Print item of the last position JZC_part

25

In [22]:
tuple1[2].index(25) # Print value of last position JZC_part

2

In [27]:
# EXERCISE 3
valor_1 = "pink grapefruit"
valor_1

'pink grapefruit'

In [28]:
tupla1[0] = valor_1 # This is imposible, cannot modify the value

NameError: name 'tupla1' is not defined

In [30]:
# EXERCISE 4
tuple1
print ("Tamaño : ", len(tuple1)) # This is value of the tuple1 / use funtion "len" JZC_part

Tamaño :  3

In [36]:
# EXERCISE 5
tuple2 # this tuple has three positions JZC_part

([7, 8], [9, 1], [10, 7])

In [37]:
sum(tuple2[0]) # function SUM, only sum elements in position 0 JZC_part

15

In [43]:
sum(map(sum, list(tuple2))) # Print value, Sum all items of each position JZC_part

42

In [19]:
# EXERCISE 6
tuple2 = ([7, 8], [9, 1], [10, 7])
tuple2

([7, 8], [9, 1], [10, 7])

In [18]:
prim = tuple2[0]
prim

[7, 8]

In [31]:
prim = tuple2[0] #Print value to each new variable "prim" "sec" "ter" because we can't use a loop JZC_part
sec = tuple2[1]
ter = tuple2[2]
num = 2
prim = list(map(lambda x: x / num, prim)) # each value is divided
sec = list(map(lambda x: x / num, sec)) # each value is divided
ter = list(map(lambda x: x / num, ter)) # each value is divided
print(prim)
print(sec)
print(ter)

[3.5, 4.0]
[4.5, 0.5]
[5.0, 3.5]

In [39]:
tuple3 # Assign value at each position of tuple3 JZC_part
tuple3[0]=prim
tuple3[1]=sec
tuple3[2]=ter
tuple3[3]= 0 
tuple3[4]= 0
tuple3[5]= 0

In [40]:
tuple3 # values at each position of tuple3 JZC_part

[[3.5, 4.0], [4.5, 0.5], [5.0, 3.5], 0, 0, 0]

## 1.2 Lists

In [1]:
import numpy as np

In [67]:
# EXERCISE 1
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [75]:
# Find the indices of the np.nan
nan_indices = []
for i, value in enumerate(f_list):
    if value != value:  # np.nan != np.nan is True
        nan_indices.append(i)

print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [63]:
# EXERCISE 2
p2_list = [ 2 , 3, 4, 5 ]

In [66]:
# Replicate the list 4 times
multiplication = p2_list * 4

# Print
print(multiplication)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [6]:
# EXERCISE 3
print(len(f_list))

8

In [23]:
# EXERCISE 4
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring']

In [24]:
# The join function helps to concatenate the list elements into a single string
sentence1 = ' '.join(text1)
sentence1

'My teacher assistant is so boring'

In [25]:
# EXERCISE 5
# A new list will be created with the second part of the phrase**
text2 = [',','but', 'is', 'very', 'funny.']
text2

[',', 'but', 'is', 'very', 'funny.']

In [26]:
# Use the extend method on the original list and the new list
text1.extend(text2)

In [27]:
# Use the join function to concatenate the list elements into a single string
sentence2 = ' '.join(text1)
sentence2

'My teacher assistant is so boring , but is very funny.'

In [28]:
# EXERCISE 6
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [30]:
# We use the max function to find the maximum value and index to find its index**
max_v= max(values1)
print(max_v)
max_i = values1.index(max_v)
print(max_i)

86
0

In [31]:
# We use the max function to find the maximum value and index to find its index
min_v = min(values1)
print(min_v)
min_i = values1.index(min_v)
print(min_i)

0
7

In [33]:
# Then print the results using f-strings
print(f"The max value of values1 is {max_v} and is located in the {max_i} index.")
print(f"The min value of values1 is {min_v} and is located in the {min_i} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [34]:
# EXERCISE 7
# These two lists:
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [37]:
# Take the second part (name) from the list
list_names = list(map(lambda x: x.split(", ")[1], last_and_name))

# Take the first part (surname) from the list
list_last_names = list(map(lambda x: x.split(", ")[0], last_and_name))

In [39]:
# Print the results
print("Names:", list_names)
print("Last Names:", list_last_names)

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [59]:
# EXERCISE 8
# Filter and obtain the surnames of students without an email address
list_no_email = [
    last_and_name[i] 
    for i, email in enumerate(emails) 
    if email == ""
]

In [60]:
# Print the new list
print(list_no_email)

['HUANCAYA IDONE, CESAR DANTE', 'CALVO PORTOCARRERO, GABRIELA ISABEL', 'IBAÑEZ ABANTO, ANGEL MAURICIO', 'MELÉNDEZ APONTE, JUAN DIEGO', 'CRISTIAN SERRANO, ARONE', 'ANGLAS GARCÍA, KEVIN ARTURO', 'ALDAVE ACOSTA, CESAR ERNESTO', 'NÚÑEZ HUAMÁN, CÉSAR AGUSTO', 'OBREGON HUAMAN, DIANA EDITH', 'SOTO PACHERRES, RODRIGO FRANCO', 'INGARUCA RIVERA, GRETTEL ALEXANDRA', 'ROJAS HUAMAN, ROSA ANGELA', 'NEYRA SALAS, DANTE OMAR', 'HUERTA ESPINOZA, YAJAIRA ALEXANDRA', 'HUANCA MARTINEZ, JORGE ALBERTO']

In [61]:
# Take the first part (surname) from the list
list_no_email1 = list(map(lambda x: x.split(", ")[0], list_no_email))
list_no_email1

['HUANCAYA IDONE',
 'CALVO PORTOCARRERO',
 'IBAÑEZ ABANTO',
 'MELÉNDEZ APONTE',
 'CRISTIAN SERRANO',
 'ANGLAS GARCÍA',
 'ALDAVE ACOSTA',
 'NÚÑEZ HUAMÁN',
 'OBREGON HUAMAN',
 'SOTO PACHERRES',
 'INGARUCA RIVERA',
 'ROJAS HUAMAN',
 'NEYRA SALAS',
 'HUERTA ESPINOZA',
 'HUANCA MARTINEZ']

In [62]:
# Print the results
print("No email:", list_no_email1)

No email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings

In [ ]:
1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [25]:
str1 = 'I am                            too                                                        old'

In [23]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [27]:
## Solution

In [ ]:
**Answer to question 1**

In [31]:
### Step 1: Define the initial string
#### First, we define the string with duplicated spaces.
str1 = 'I am    too   old'

### Step 2: Use 'split' to separate the words
#### The split method without any arguments splits the string into a list of words 
#### using spaces as separators and automatically removes any extra spaces.
words = str1.split()

### Step 3: Use 'join' to combine the words
#### The 'join' method takes a list of words and combines them into a single string, separating each word with a single space.
str1 = ' '.join(words)

### Step 4: Use print
print(str1)

I am too old

In [ ]:
**Answer to question 2**

In [33]:
### Step 1: Define the initial string
#### First, we define the string containing words and spaces.
str1 = 'I am    too   old'

### Step 2: Remove the spaces
#### To count only the letters, we need to remove the white spaces from the string.
#### We can use the replace method to replace all spaces with an empty string.
no_spaces = str1.replace(" ", "")

### Step 3: Count the letters
#### We use the len function to get the length of the resulting string
#### which will give us the number of letters.
num_letters = len(no_spaces)

### Step 4: Use print
print(num_letters)

9

In [ ]:
**Answer to question 3**

In [35]:
### Step 1: Define the initial string
#### First, we define the string containing words and spaces.
str1 = 'I am too old'

### Step 2: Count the spaces
#### To count the number of white spaces in the string, we can use the count method of Python strings,
#### which counts the number of occurrences of a specific character.
num_spaces = str1.count(" ")

### Step 3: Use print
print(num_spaces)

3

In [ ]:
**Answer to question 4**

In [37]:
### Step 1: Define the list of email addresses
#### First, we define the list containing the email addresses.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Step 2: Use 'map' and 'find' to locate the position of the '@' character
#### To find the position of the '@' character in each email address, we can use a combination of the 'map' function and the 'find' method.
#### The 'find' method returns the position of the first occurrence of a character in a string, and map applies this function to each element of the list.
at_positions = list(map(lambda email: email.find('@'), emails))

### Step 3: Use print
print(at_positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [ ]:
**Answer to question 5**

In [39]:
### Step 1: Define the list of email addresses
#### First, we define the list containing the email addresses.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Step 2: Use 'map' and the 'in' operator to check for the existence of '.edu'
#### To check if the string '.edu' exists in each email address, we can use a combination of the 'map' function and the 'in' operator.
#### The 'in' operator checks if a substring is present in a string, and 'map' applies this operation to each element of the list.
has_edu = list(map(lambda email: '.edu' in email, emails))

### Step 3: Use print
print(has_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [ ]:
**Answer to question 6**

In [41]:
### Step 1: Define the list of email addresses
#### First, we define the list containing the email addresses.
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### Step 2: Use 'map' and 'split' to get the strings before the first dot
#### To get the part of the string before the first dot in each email address, we can use a combination of the 'map' function and the 'split' method.
#### The 'split' method splits the string into a list at each occurrence of the specified character, and we can take the first element of the resulting list.
before_dot = list(map(lambda email: email.split('.')[0], emails))

### Step 3: Use print
print(before_dot)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']

## 1.4 Pandas

## 1.4 Pandas